.btn {
  display: flex;
  align-items: center;
  gap: 0.7em;
  padding: 0;
  margin: 0;
  transition: 0.4s;
  cursor: pointer;
}

/* Shared ----------------------------------------*/
.button {
  /* border: 1px solid salmon; */
  border: none;
  text-transform: uppercase;
  padding: 0.8em 2.2em;
  margin-right: 0.5em;
  font-size: var(--h4-fs);
  font-weight: bold;
  cursor: pointer;
  background-color: transparent;
  letter-spacing: var(--h4-ls);
  text-wrap: nowrap;
}
.button:active {
  background-color: transparent;
  outline: none;
  box-shadow: none;
}

.hover:hover {
  margin-right: -15px;
  /* transform: translateX(+15px); */
  /* transform: translateZ(+15px); */
  gap: 26.2px;
}
/* Black button ----------------------------------- */
.btn .black-btn {
  background-color: var(--black);
  color: var(--white);
}
.black-btn:hover {
  background-color: var(--grey);
  color: var(--black);
}

/* White button ----------------------------------- */
.btn .white-btn {
  background-color: var(--white);
  color: var(--black);
}
.btn .white-btn:hover {
  background-color: var(--grey);
}

/* transparent onWhite --------------------------------- */
.transparent-onWhite-btn {
  color: var(--black);
  padding-left: 0;
  padding-right: 0;
}

/* transparent onBlack --------------------------------- */
.transparent-onBlack-btn {
  color: var(--white);
  padding-left: 0;
  padding-right: 0;
}
.transparent-onWhite-btn:hover,
.transparent-onBlack-btn:hover {
  text-decoration: underline;
}

@media (max-width: 838px) {
  .transparent-onWhite-btn:hover,
  .transparent-onBlack-btn:hover {
    text-decoration: none;
  }
  .hover:hover {
    margin-right: 0;
    gap: 0.7em;
  }
  .btn:hover {
    transform: translateY(+5px);
  }
}
