.card {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  min-height: 15em;
  max-width: 22vw;
  gap: 0.4em;
  /* border: 1px solid darkgreen; */
}

.img {
  width: 8em;
  height: 8em;
  display: flex;
  justify-content: center;
  align-items: center;
  /* border: 1px solid blue; */
}

.text h3 {
  /* border: 1px solid salmon; */
  text-align: center;
}
.text p {
  /* border: 1px solid salmon; */
  text-align: center;
  color: #666666;
  font-size: var(--body-fs);
  line-height: var(--body-h3-h2-lh);
}

@media (max-width: 1070px) {
  .card {
    min-height: 20em;
    max-width: 30vw;
  }
}

@media (max-width: 838px) {
  .card {
    /* min-height: 20em; */
    max-width: 70vw;
  }
}
