.container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;

  padding: 4em 5em 6.5em 5em;
  gap: 5vw;
  /* border: 1px solid salmon; */
}

@media (max-width: 838px) {
  .container {
    flex-direction: column;
    padding: 1em 3em 4em 3em;
    /* padding: 3em; */
  }
}
