.container {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 4em 3em 4em 3em;
  gap: 5vw;
  /* border: 2em solid salmon; */
}

@media (max-width: 838px) {
  .container {
    flex-direction: column;
    padding: 4em 3em 4em 3em;
    /* padding: 3em; */
  }
}
